<div class="row">

    <div class="col">

      <div *ngIf="mostrarGifs().length != 0; else divError">
        <div class="card" style="width: 18rem;" *ngFor="let gif of mostrarGifs()">
          <img [src]="gif.images.original.url" class="card-img-top" [alt]="gif.title">
          <div class="card-body">
            <p class="card-text">{{gif.title}}</p>
          </div>
        </div>
      </div>

      <ng-template #divError>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, obcaecati voluptates. Natus deleniti
        necessitatibus rerum provident sint, sed ducimus? Officia, dolores deserunt? Distinctio adipisci, quaerat
        expedita nihil illo numquam. Porro.
      </ng-template>

    </div>

</div>