<div class="container-fluid">

  <div class="row" *ngIf="mostrarGifs.length != 0; else divError">
    <div class="col-10 col-lg-2 gap-5" *ngFor="let gif of mostrarGifs">
      <img [src]="gif.images.original.url" class="card-img-top" [alt]="gif.title">
    </div>
  </div>

  <ng-template #divError>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, obcaecati voluptates. Natus deleniti
    necessitatibus rerum provident sint, sed ducimus? Officia, dolores deserunt? Distinctio adipisci, quaerat
    expedita nihil illo numquam. Porro.
  </ng-template>

</div>