<div class="bg-dark border-right p-3" id="sidebar">

    <h3 class="text-light">

      Gifs-App

    </h3>

    <hr class="text-white" *ngIf="historial.length != 0; else aDefault"/>

    <div class="list-group list-reset mb-2" *ngFor="let busqueda of historial">

      <a href="#" class="list-group-item list-group-item-action" (click)="buscarGif(busqueda)">

        {{busqueda}}

      </a>

    </div>

    <ng-template #aDefault>
      <div class="list-group list-reset">

        <a href="#" class="list-group-item list-group-item-action">

          Dashboard
  
        </a>

      </div>
    </ng-template>

  </div>